<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit List</title>
    <style>
        body {
            background-color: grey;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit an Existing List</h1>
        <form action="/edittask/<%=editTask.id%>?_method=PUT" method="POST">
            <p>List Title: </Title><input type="text" name="title" value="<%=editTask.title%>"></p>
            <p>Task: <input type="text" name="task" value="<%=editTask.task%>"></p>
            <p>Is it completed?</p>
            <p><input type="radio" name="completed" value="<%=editTask.completed%>">Yes
          <input type="radio" name="completed" value="<%=editTask.completed%>">No</p>
          <input type="date" name="createdAt" value="<%=editTask.createdAt%>">
            <button type="submit" value="Add Task">Add Task</button>
        </form>
    </div>
    <button type="button" name="button">
        <a href="/">Back to Index</a>
    </button>
</body>
</html>